<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico">

  <script src="https://unpkg.com/vue@next"></script>

  <script src="https://unpkg.com/dayjs"></script>
  <script src="https://unpkg.com/dayjs/plugin/timezone.js"></script>
  <script>dayjs.extend(window.dayjs_plugin_timezone)</script>

  <script src="./commits.js"></script>
  <title>Document</title>

  <style>
    img,
    svg {
      vertical-align: top;
    }

    html,
    body {
      margin: 0;
    }
  </style>
</head>

<body>
  <script>
    const CommitKeys = [
      "repo", "path", "hash", "author", "date", "time", "text",
    ]

    const createConfig = () => {
      let config = {
        filter: Object.fromEntries(CommitKeys.map(v => [v, ""])),
        classify: ["date", "repo"],
      }

      config.filter.author = UserInfo.name

      return config
    }

    // ToDo: support for "|", "&"
    const isMatchText = (text, matcher) => {
      const results = matcher.split(" ").map(m => text.includes(m))
      return results.some(v => v)
    }

    const isMatchMap = (map, matchers) => {
      const results = Object.entries(matchers).map(([key, value]) => (
        value ? isMatchText(map[key], value) : true
      ))
      return results.every(v => v)
    }
  </script>


  <div id="app">
    <div style="display: flex; justify-content: center;">
      <div style="width: min(800px, 100vw); position: relative; padding: 8px 16px; box-sizing: border-box;">
        <div v-show="isSetting">
          <setting-config v-model="config" />
        </div>

        <div>
          <recursion-component :data="computedCommits" />
        </div>

        <div style="position: absolute; top: 8px; right: 8px;">
          <button @click="isSetting = !isSetting" style="background: gray; border-radius: 10%; padding: 1px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="36px" width="36px" viewBox="0 0 24 24" fill="white">
              <path fill="white"
                d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script>
    const app = Vue.createApp({
      data() {
        Commits.sort((c1, c2) => (
          new Date(c2.date) - new Date(c1.date)
        ))

        return {
          commits: Commits,
          metas: Commits.map(commit => {
            const day = dayjs(commit.date)
            const date = day
              .format("YYYY-MM-DD")
            const time = day
              .format("HH:mm:ss")
            return { date, time }
          }),
          config: createConfig(),
          isSetting: false
        }
      },

      computed: {
        classifies() {
          return this.config.classify.filter(v => v)
        },
        computedCommits() {
          let result = {}

          for (const [index, _] of this.commits.entries()) {
            const commit = this.commits[index]
            const meta = this.metas[index]
            const item = { ...commit, ...meta, index }

            if (!isMatchMap(item, this.config.filter)) {
              continue
            }

            let tmp = result

            for (const [i, filter] of this.classifies.entries()) {
              const key = meta[filter] ?? commit[filter]
              const value = i === this.classifies.length - 1 ? [] : {}
              if (!tmp[key]) { tmp[key] = value }
              tmp = tmp[key]
            }

            tmp.push(item)
          }

          return result
        }
      }
    })
  </script>


  <template id="setting-config">
    <div style="padding-bottom: 16px; margin-right: 48px;">
      <div style="display: flex; padding: 2px 0 4px 0;">
        <div style="width: 5.5em;">name</div>
        <div style="width: 4em; text-align: center;">classify</div>
        <div style="text-align: center; padding: 0 1em;">filter</div>
      </div>
      <div v-for="(key, index) in ['repo', 'author', 'date', 'time', 'text']">
        <div style="display: flex; border-top: solid 1px lightgray; padding: 2px 0 4px 0;">
          <div style="width: 5.5em;">
            {{ key === "repo" ? "repository" : key }}
          </div>

          <div style="width: 4em; text-align: center;">
            <input v-for="i in 3" type="checkbox" :checked="config.classify[i - 1] === key" @change="e => {
              config.classify[i - 1] = (e.target.checked ? key : undefined); config.update()
            }">
          </div>

          <div style="flex-grow: 1; padding-left: 1em;">
            <input type="text" style="width: calc(100% - 1em);" :value="config.filter[key]" @blur="e => {
              config.filter[key] = e.target.value; config.update()
            }">
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
    app.component('setting-config', {
      template: document.getElementById("setting-config").innerHTML,
      props: ["modelValue"],
      data() { return { keys: CommitKeys } },
      computed: {
        config() {
          let value = this.modelValue
          value.update = () => {
            this.$emit('update:modelValue', { ...value })
          }
          return value
        }
      }
    })
  </script>


  <template id="recursion-component">
    <div>
      <template v-if="Array.isArray(data)">
        <div v-for="(value, key) in data" class="commit-item">
          {{value.time}} {{ value.text }}
        </div>
      </template>
      <template v-else>
        <div v-for="(value, key, index) in data" class="card-container">
          <div>{{ key }}</div>
          <recursion-component :data="value" class="list-container" />
        </div>
      </template>
    </div>
  </template>

  <style>
    .list-container {
      padding-left: 8px;
      margin-left: 4px;
      border-left: solid 2px black;
    }

    .commit-item {
      overflow: hidden;
      white-space: nowrap;
    }
  </style>

  <script>
    app.component('recursion-component', {
      template: document.getElementById("recursion-component").innerHTML,
      props: ["data"],
    })
  </script>


  <script>
    app.mount('#app')
  </script>
</body>

</html>